.heading {
  margin-bottom: 2rem;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.speaker-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  & > * {
    flex: 0 1 auto;
  }
}
